%button{:onclick => "setLocation()"} Get Location
= form_for(@curb, multipart: true) do |f|  
  %fieldset.form-group
    = f.label :Latitude
    = f.text_field :lat, class: "form-control", id: "lat"
  %fieldset.form-group
    = f.label :Longitude
    = f.text_field :lng, class: "form-control", id: "lng"
  %fieldset.form-group
    = f.label :Photo
    = f.file_field :photo
  =f.submit